@page "/field-definitions/{projectId}/{className}"
<PageTitle>@pageTitle</PageTitle>

<style>
	.selected {
		background-color: #1E88E5 !important;
	}

		.selected > td {
			color: white !important;
		}

			.selected > td .mud-input {
				color: white !important;
			}
</style>

<h1>@pageTitle</h1>
<MudTable T="FieldDefinitionModel" @ref="itemsTable" ServerData="ServerReload" RowClassFunc="SelectedRowClassFunc" OnRowClick="RowClickedEvent" Bordered=true Striped=true>
	<ToolBarContent>
		<MudButtonGroup Color="Color.Primary" Size="Size.Small" Variant="Variant.Outlined">
			<MudButton StartIcon="@Icons.Material.Filled.Add"
					   OnClick="@CreateItem">
				Create field
			</MudButton>
		</MudButtonGroup>
		<MudButtonGroup Color="Color.Primary" Size="Size.Small" Variant="Variant.Outlined">
			<MudButton hidden="@(SelectedItem == null)" Href="@($"/field-definition/{ProjectId}/{ClassName}/{SelectedItem?.Name}")" StartIcon="@Icons.Material.Filled.Edit">
				Edit field
			</MudButton>
			<MudButton hidden="@(SelectedItem == null)" IconColor="Color.Secondary" StartIcon="@Icons.Material.Filled.DeleteForever" OnClick="@((e)=> DeleteItem(SelectedItem!.Name))">
				Delete field
			</MudButton>
		</MudButtonGroup>
		<MudSpacer/>
		<MudButtonGroup Color="Color.Primary" Size="Size.Small" Variant="Variant.Outlined">
			<MudButton hidden="@(SelectedItem == null)" Href="@($"/field-processings/{ProjectId}/{ClassName}/{SelectedItem?.Name}")" StartIcon="@Icons.Material.Filled.Edit">
				Field processings
			</MudButton>
		</MudButtonGroup>
		<MudSpacer />
		<MudTextField @bind-Value="itemNameSearchString" Placeholder="Search" Clearable=true Immediate=true TextChanged="Search"
					  Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
	</ToolBarContent>
	<ColGroup>
		<col />
		<col />
	</ColGroup>
	<HeaderContent>
		<MudTh Style="text-align:center">Name</MudTh>
		<MudTh Style="text-align:center">Type</MudTh>
		<MudTh Style="text-align:center">Topic name</MudTh>
	</HeaderContent>
	<RowTemplate>
		<MudTd DataLabel="Name">@context.Name</MudTd>
		<MudTd DataLabel="Type">@GetFieldType(context)</MudTd>
		<MudTd DataLabel="Topic name">@context.TopicName</MudTd>
	</RowTemplate>
	<NoRecordsContent>
		<MudText>No matching records found</MudText>
	</NoRecordsContent>
	<LoadingContent>
		<MudText>Loading...</MudText>
	</LoadingContent>
	<PagerContent>
		<MudTablePager PageSizeOptions="@Constants.pageSizeOptions"
					   RowsPerPageString="@Constants.rowsPerPageString"
					   InfoFormat="@Constants.infoFormat"
					   AllItemsText="@Constants.allItemsText"
					   HorizontalAlignment="@Constants.horizontalAlignment"
					   HideRowsPerPage="@Constants.hideRowsPerPage"
					   HidePageNumber="@Constants.hidePageNumber"
					   HidePagination="@Constants.hidePagination" />
	</PagerContent>
</MudTable>
