@if (editedHistorizationFieldProcessing != null)
{
	if (State!.CurrentProject!.HistoryEnabled!)
	{
		<MudSelect T="string" @bind-Value="editedHistorizationFieldProcessing.HistoryRepositoryName"
				   Label="Select history repository" Placeholder="History repository" Variant="Variant.Outlined">
			@foreach (var historyRepositoryName in HistoryRepositoryNames)
			{
				<MudSelectItem Value="historyRepositoryName">@historyRepositoryName</MudSelectItem>
			}
		</MudSelect>
		<MudSelect T="string" @bind-Value="editedHistorizationFieldProcessing.TimestampFieldName"
				   Label="Select timestamp field" Placeholder="Timestamp field" Variant="Variant.Outlined">
			@foreach (var fieldName in GetFieldNames())
			{
				<MudSelectItem Value="fieldName">@fieldName</MudSelectItem>
			}
		</MudSelect>
		<MudSpacer />
		<MudText Align="Align.Center" Typo="Typo.subtitle1"></MudText>
		<MudText Align="Align.Center" Typo="Typo.subtitle1">Fields to historize</MudText>
		<MudText Align="Align.Center" Typo="Typo.subtitle1"></MudText>
		<MudDataGrid T="HistorizedField" Items="@editedHistorizationFieldProcessing?.FieldsToHistorize" Bordered="true" Dense="true" ReadOnly="false"
					 EditMode="DataGridEditMode.Cell" EditTrigger="DataGridEditTrigger.OnRowClick"
					 StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@CommittedItemChanges">
			<Columns>
				<PropertyColumn Property="x => x" Title="Field to historize">
					<CellTemplate>
						<MudText>@context.Item</MudText>
					</CellTemplate>
					<EditTemplate>
						<MudSelect T="string" @bind-Value="@context.Item.Name"
								   Placeholder="History source field" Variant="Variant.Outlined">
							@foreach (var fieldName in GetFieldNames())
							{
								<MudSelectItem Value="fieldName">@fieldName</MudSelectItem>
							}
						</MudSelect>
					</EditTemplate>
				</PropertyColumn>
				<TemplateColumn CellClass="d-flex justify-end">
					<CellTemplate>
						<MudButtonGroup>
							<MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" OnClick="((e) => editedHistorizationFieldProcessing?.FieldsToHistorize.Remove(context.Item))" />
						</MudButtonGroup>
					</CellTemplate>
					<EditTemplate>
						<MudButtonGroup Size="@Size.Small">
							<MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" OnClick="((e) => editedHistorizationFieldProcessing?.FieldsToHistorize.Remove(context.Item))" />
						</MudButtonGroup>
					</EditTemplate>
				</TemplateColumn>
			</Columns>
		</MudDataGrid>
		<MudButton StartIcon="@Icons.Material.Filled.Add"
				   OnClick="((e) => editedHistorizationFieldProcessing?.FieldsToHistorize.Add(new HistorizedField(String.Empty)))">
			Add history source field
		</MudButton>
	}
	else
	{
		<h1>History not enabled on project</h1>
	}
}