@page "/projects"

<PageTitle>Projects</PageTitle>

<script>
	window.saveFile = async (filename, Content) => {
		let link = document.createElement('a');
		link.download = filename;
		link.href = "data:text/plain;charset=utf-8," + encodeURIComponent(Content)
		document.body.appendChild(link);
		link.click();
		document.body.removeChild(link);
	}
</script>
<style>
	.selected {
		background-color: #1E88E5 !important;
	}

		.selected > td {
			color: white !important;
		}

			.selected > td .mud-input {
				color: white !important;
			}
</style>

<h1>Projects</h1>
<MudTable T="ProjectModel" @ref="itemsTable" ServerData="ServerReload" RowClassFunc="SelectedRowClassFunc" OnRowClick="RowClickedEvent" Bordered=true Striped=true>
	<ToolBarContent>
		<MudButtonGroup Color="Color.Primary" Size="Size.Small" Variant="Variant.Outlined">
			<MudButton StartIcon="@Icons.Material.Filled.Add" OnClick="@CreateItem">
				Create project
			</MudButton>
			<MudFileUpload T="IBrowserFile" Accept=".prj" FilesChanged="LoadProjectFromDefinition">
				<ActivatorContent>
					<MudButton Color="Color.Primary" StartIcon="@Icons.Material.Filled.FileOpen">
						Load project"
					</MudButton>
				</ActivatorContent>
			</MudFileUpload>
		</MudButtonGroup>
		<MudButtonGroup Color="Color.Primary" Size="Size.Small" Variant="Variant.Outlined">
			<MudButton hidden="@(SelectedItem == null)" StartIcon="@Icons.Material.Filled.Edit" OnClick="@EditItem">
				Edit project
			</MudButton>
			<MudButton StartIcon="@Icons.Material.Filled.DesignServices"
					   hidden="@(SelectedItem == null || !SelectedItem.Runnable)" OnClick="@((e)=> CreateWipProjectFromRunnable(SelectedItem!.Id))">
				Create WIP project
			</MudButton>
			<MudButton StartIcon="@Icons.Material.Filled.Save"
					   hidden="@(SelectedItem == null || !SelectedItem.Runnable)" OnClick="@((e) => SaveProjectInstances(SelectedItem!))">
				Save project instances
			</MudButton>
			<MudFileUpload T="IBrowserFile" Accept=".snp" FilesChanged="@((e) => LoadProjectInstancesFromFile(e, SelectedItem!))">
				<ActivatorContent>
					<MudButton StartIcon="@Icons.Material.Filled.FileOpen"
							   hidden="@(SelectedItem == null || !SelectedItem.Runnable)">
						Load project instances
					</MudButton>
				</ActivatorContent>
			</MudFileUpload>
			<MudButton StartIcon="@Icons.Material.Filled.MiscellaneousServices"
					   hidden="@(SelectedItem == null || SelectedItem.Runnable)" OnClick="@((e)=> BuildWipProject(SelectedItem!.Id))">
				Build project
			</MudButton>
			<MudButton StartIcon="@Icons.Material.Filled.Save"
					   hidden="@(SelectedItem == null || SelectedItem.Runnable)" OnClick="@((e)=> SaveProjectDefinitions(SelectedItem!))">
				Save project definitions
			</MudButton>
			<MudButton IconColor="Color.Secondary" StartIcon="@Icons.Material.Filled.DeleteForever"
					   hidden="@(SelectedItem == null)" OnClick="@((e)=> DeleteProject(SelectedItem!.Id))">
				Delete project
			</MudButton>
		</MudButtonGroup>
		<MudSpacer />
		<MudButtonGroup Color="Color.Primary" Size="Size.Small" Variant="Variant.Outlined">
			<MudButton StartIcon="@Icons.Material.Filled.DataObject"
					   hidden="@(SelectedItem == null || !SelectedItem.Runnable)" Href=@($"/instances/{SelectedItem?.Id}")>
				Instances
			</MudButton>
			<MudButton StartIcon="@Icons.Material.Filled.Class"
					   hidden="@(SelectedItem == null || SelectedItem.Runnable)" Href=@($"/classes/{SelectedItem?.Id}")>
				Classes
			</MudButton>
			<MudButton StartIcon="@Icons.Material.Filled.FormatListNumbered"
					   hidden="@(SelectedItem == null || SelectedItem.Runnable)" Href=@($"/field-formatters/{SelectedItem?.Id}")>
				Field formatters
			</MudButton>
			<MudButton StartIcon="@Icons.Material.Filled.Storage"
					   hidden="@(SelectedItem == null || SelectedItem.Runnable || !SelectedItem.HistoryEnabled)" Href=@($"/history-repositories/{SelectedItem?.Id}")>
				History repositories
			</MudButton>
		</MudButtonGroup>
		<MudSpacer />
		<MudTextField @bind-Value="itemNameSearchString" Placeholder="Search" Clearable=true Immediate=true TextChanged="Search"
					  Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
	</ToolBarContent>
	<ColGroup>
		<col />
		<col />
		<col />
		<col style="width:25px;" />
		<col style="width:25px;" />
	</ColGroup>
	<HeaderContent>
		<MudTh Style="text-align:center">Name</MudTh>
		<MudTh Style="text-align:center">Description</MudTh>
		<MudTh Style="text-align:center">Version</MudTh>
		<MudTh Style="text-align:center">State</MudTh>
		<MudTh Style="text-align:center">History enabled</MudTh>
	</HeaderContent>
	<RowTemplate>
		<MudTd DataLabel="Name">@context.Name</MudTd>
		<MudTd DataLabel="Description">@context.Description</MudTd>
		<MudTd DataLabel="Version">@context.Version</MudTd>
		<MudTd DataLabel="Runnable" Style="text-align:center">
			<MudIcon Icon="@(context.Runnable ? Icons.Material.Filled.MiscellaneousServices : Icons.Material.Filled.DesignServices)"
					 Title="@(context.Runnable ? "Runnable" : "WIP")" />
		</MudTd>
		<MudTd DataLabel="HistoryEnabled" Style="text-align:center">
			<MudIcon Icon="@(context.HistoryEnabled ? Icons.Material.Filled.Storage : null)"
					 Title="@(context.HistoryEnabled? "History enabled" : "No history storage")" />
		</MudTd>
	</RowTemplate>
	<NoRecordsContent>
		<MudText>No matching records found</MudText>
	</NoRecordsContent>
	<LoadingContent>
		<MudText>Loading...</MudText>
	</LoadingContent>
	<PagerContent>
		<MudTablePager PageSizeOptions="@Constants.pageSizeOptions"
					   RowsPerPageString="@Constants.rowsPerPageString"
					   InfoFormat="@Constants.infoFormat"
					   AllItemsText="@Constants.allItemsText"
					   HorizontalAlignment="@Constants.horizontalAlignment"
					   HideRowsPerPage="@Constants.hideRowsPerPage"
					   HidePageNumber="@Constants.hidePageNumber"
					   HidePagination="@Constants.hidePagination" />
	</PagerContent>
</MudTable>
