@page "/projects"

<PageTitle>Projects</PageTitle>

<script>
	window.saveFile = async (filename, Content) => {
		let link = document.createElement('a');
		link.download = filename;
		link.href = "data:text/plain;charset=utf-8," + encodeURIComponent(Content)
		document.body.appendChild(link);
		link.click();
		document.body.removeChild(link);
	}
</script>

<h1>Projects</h1>

<MudPaper>
	<MudButtonGroup Color="Color.Primary">
		<MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Label="Create project" Size="Size.Small" OnClick="@CreateProject" />
		<MudFileUpload T="IBrowserFile" FilesChanged="LoadProjectFromDefinition">
			<ActivatorContent>
				<MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.UploadFile" Label="Load project" Size="Size.Small" />
			</ActivatorContent>
		</MudFileUpload>
	</MudButtonGroup>
	<MudSpacer/>
</MudPaper>
<MudTable T="ProjectModel" @ref="projectsTable" ServerData="ServerReload" OnRowClick="RowClickedEvent" Bordered=true Striped=true>
	<ColGroup>
		<col />
		<col />
		<col />
		<col style="width:25px;" />
		<col style="width:25px;" />
	</ColGroup>
	<ToolBarContent>
		<MudText Typo="Typo.h6">Projects</MudText>
		<MudSpacer />
		<MudTextField @bind-Value="projectNameSearchString" Placeholder="Search" Clearable=true Immediate=true TextChanged="Search"
					  Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
	</ToolBarContent>
	<HeaderContent>
		<MudTh Style="text-align:center">Name</MudTh>
		<MudTh Style="text-align:center">Description</MudTh>
		<MudTh Style="text-align:center">Version</MudTh>
		<MudTh Style="text-align:center">State</MudTh>
		<MudTh />
	</HeaderContent>
	<RowTemplate>
		<MudTd DataLabel="Name">@context.Name</MudTd>
		<MudTd DataLabel="Description">@context.Description</MudTd>
		<MudTd DataLabel="Version">@context.Version</MudTd>
		<MudTd DataLabel="Runnable" Style="text-align:center">
			<MudIcon Icon="@(context.Runnable ? Icons.Material.Filled.MiscellaneousServices : Icons.Material.Filled.DesignServices)"
					 Title="@(context.Runnable ? "Runnable" : "WIP")" />
		</MudTd>
		<MudTd>
			<MudMenu Dense
					 @key="@context.Id" @ref="ContextMenusRef[context.Id]"
					 Variant="Variant.Text"
					 Color="Color.Primary"
					 Icon="@Icons.Material.TwoTone.MoreVert">
				@if (context.Runnable)
				{
					<MudMenuItem OnClick="@((e)=> CreateWipProjectFromRunnable(context.Id))"
								 ForceLoad
								 Icon="@Icons.Material.Filled.DesignServices"
								 Label="CREATE WIP PROJECT" />
					<MudMenuItem OnClick="@((e) => SaveProjectInstances(context))"
								 ForceLoad
								 Icon="@Icons.Material.Filled.Save"
								 Label="SAVE PROJECT INSTANCES" />
					<MudMenuItem Icon="@Icons.Material.Filled.UploadFile"
								 Label="LOAD PROJECT INSTANCES">
						<MudFileUpload T="IBrowserFile" 
									   FilesChanged="@((e) => LoadProjectInstancesFromFile(e, context))">
							<ActivatorContent>
								<MudButton Color="Color.Inherit" Variant="Variant.Text">Load instances</MudButton>
							</ActivatorContent>
						</MudFileUpload>
					</MudMenuItem>
				}
				else
				{
					<MudMenuItem OnClick="@((e)=> BuildWipProject(context.Id))"
								 ForceLoad
								 Icon="@Icons.Material.Filled.MiscellaneousServices"
								 Label="BUILD PROJECT" />
					<MudMenuItem OnClick="@((e)=> SaveProjectDefinitions(context))"
								 ForceLoad
								 Icon="@Icons.Material.Filled.Save"
								 Label="SAVE PROJECT DEFINITIONS" />
				}
				<MudMenuItem OnClick="@((e)=> DeleteProject(context.Id))"
							 ForceLoad
							 Icon="@Icons.Material.Filled.DeleteForever"
							 IconColor="Color.Secondary"
							 Label="DELETE PROJECT" />
			</MudMenu>
			<MudSpacer />
		</MudTd>
	</RowTemplate>
	<NoRecordsContent>
		<MudText>No matching records found</MudText>
	</NoRecordsContent>
	<LoadingContent>
		<MudText>Loading...</MudText>
	</LoadingContent>
	<PagerContent>
		<MudTablePager PageSizeOptions="@Constants.pageSizeOptions"
					   RowsPerPageString="@Constants.rowsPerPageString"
					   InfoFormat="@Constants.infoFormat"
					   AllItemsText="@Constants.allItemsText"
					   HorizontalAlignment="@Constants.horizontalAlignment"
					   HideRowsPerPage="@Constants.hideRowsPerPage"
					   HidePageNumber="@Constants.hidePageNumber"
					   HidePagination="@Constants.hidePagination" />
	</PagerContent>
</MudTable>
