@page "/project"
@page "/project/{projectId}"
<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<EditForm Model="@EditedProject" OnValidSubmit="OnValidSubmit">
	<DataAnnotationsValidator />
	<MudGrid>
		<MudItem xs="12" sm="7">
			<MudCard>
				<MudCardContent>
					<MudFocusTrap DefaultFocus=DefaultFocus.FirstChild>
						<MudTextField Disabled="@isModification" @bind-Value="EditedProject.Name"
									  Label="Project name" For="@(() => EditedProject.Name)" Variant="Variant.Outlined" />
						<MudTextField @bind-Value="EditedProject.Description" For="@(() => EditedProject.Description)"
									  Label="Project description" Class="mt-3" Variant="Variant.Outlined"/>
						<MudTextField @bind-Value="EditedProject.HistoryStorageConnectionString"
									  Label="History storage connection string" For="@(() => EditedProject.HistoryStorageConnectionString)" Class="mt-3" Variant="Variant.Outlined"/>
					</MudFocusTrap>
				</MudCardContent>
				<MudCardActions>
					<MudSpacer />
					<MudButton @onclick="CancelSubmit" Variant="Variant.Filled" Color="Color.Secondary" Class="ml-auto">Cancel</MudButton>
					&nbsp;
					<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">OK</MudButton>
				</MudCardActions>
			</MudCard>
		</MudItem>
		<MudItem hidden="@success" xs="12" sm="5">
			<MudPaper Class="pa-4 mud-height-full">
				<MudText Typo="Typo.subtitle2">Validation Summary</MudText>
				<MudText Color="@Color.Error">
					<ValidationSummary />
				</MudText>
			</MudPaper>
		</MudItem>
	</MudGrid>
</EditForm>