@page "/projects"

<PageTitle>Projects</PageTitle>

<h1>Projects</h1>


@if (projects == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Label="Create project" Size="Size.Small" OnClick="@CreateProject" />
	<MudTable Items="@projects">
		<ToolBarContent>
			<MudText Typo="Typo.h6">Projects</MudText>
		</ToolBarContent>
		<HeaderContent>
			<MudTh>Name</MudTh>
			<MudTh>Description</MudTh>
			<MudTh>Runnable</MudTh>
		</HeaderContent>
		<RowTemplate>
			<MudTd DataLabel="Name">@context.Name</MudTd>
			<MudTd DataLabel="Description">@context.Description</MudTd>
			<MudTd DataLabel="Runnable">
				@if (context.Runnable)
				{
					<a></a>
				}
				else
				{
					<img src="images/WIP.png" width="25" height="25" />
				}
			</MudTd>
		</RowTemplate>
		<PagerContent>
			<MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100, int.MaxValue }"
						   RowsPerPageString="@rowsPerPageString"
						   InfoFormat="@infoFormat"
						   AllItemsText="@allItemsText"
						   HorizontalAlignment="@horizontalAlignment"
						   HideRowsPerPage="@hideRowsPerPage"
						   HidePageNumber="@hidePageNumber"
						   HidePagination="@hidePagination"
						   />
		</PagerContent>
	</MudTable>

}
